body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

#header-container {
    background-color: #05a7cd;
    color: #fbfbfb
}

.post-header-body {
    width: 80%;
    margin: auto;
    background-color: #fbfbfb;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}
