body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-size: 1em;
    background-color: #336799;
}

.form-error, .req {
    color: red;
}

#contact-container {
    background-color: #fff;
    box-shadow: 2px 3px 2.5px #181818;
    max-height: 690px;
    /* Hides y-axis overflow as the result of image resizing */
    overflow-y: hidden;
}

img {
    height: 100%;
    filter: brightness(12.5%);
}

#header-container {
    background-color: #05a7cd;
    color: #fbfbfb;
    box-shadow: 0px 2.5px 5px #181818;
}

.post-header-body {
    background-color: #fbfbfb;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

#address-container {
    top: 120px;
    overflow: hidden;
}

#contact-mobile {
    background-color: #336799;
}



.contact-mobile-method {
    background-color: #fbfbfb;
    cursor: pointer;
}

.contact-mobile-method:first-of-type {
    box-shadow: -1px 2.5px 3px #57ca4b;
}

.contact-mobile-method:nth-of-type(2n){
    box-shadow: -1px 2.5px 3px #19a7f2;
}

.contact-mobile-method:nth-of-type(3n){
    box-shadow: -1px 2.5px 3px #dd3b29;
}

.contact-mobile-method > div > i{
    color: #fbfbfb;
}

#contact-mobile-method-phone {
    background-color: #57ca4b;
}

#contact-mobile-method-mail {
    background-color: #19a7f2;
}

#contact-mobile-method-map {
    background-color: #dd3b29;
}




/* Color Palette

Dark Blue - #336799

White - #FBFBFB

Orange - #E37223

Light Blue - #05A7CD

Black - #181818

*/
